@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Noto+Sans+TC:wght@100;400;700&display=swap');
@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');

$light-color: #fffaff;
$dark-color: #1d2231;
$primary-color: #8f77b5;
$secondary-color: #211e55;
//layout

h1,
h2,
h3,
h4 { font-weight: 700; }
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }

.w-100 { width: 100%; }

.h-100 { height: 100%; }

.btn {
  padding: 3px;
  font-size: 1rem;
  color: $light-color;
  background: $primary-color;
  border: 3px outset $primary-color;
  border-radius: 10px;
  font-weight: 700;
  text-transform: capitalize;
  transition: 0.15s;
  cursor: pointer;

  i {
    padding-left: 0.5rem;
  }
}

.btn:hover {
  color: $primary-color;
  background-color: $light-color;
  border-style: inset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Merriweather', serif, 'Noto Sans TC', sans-serif;
  background-color: $dark-color;
}

a {
  text-decoration: none;
}

//sidebar
.nav-toggle {
  display: none;
}

.nav-toggle:checked {
  + .sidebar {
    position: absolute;
    display: block;
    width: 50%;

    .sidebar-brand {
      display: none;
    }

    .sidebar-menu {
      overflow-y: hidden;
      margin-top: 75px;
      height: calc(100vh - 75px);
    }
  }

  ~ .main {
    overflow: hidden;
    height: calc(100vh - 72px);
  }
}

.sidebar {
  position: static;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 0;
  height: 100vh;
  background: linear-gradient(30deg, $dark-color, $primary-color);
  transition: width 0.15s;
}

.sidebar-brand {
  padding: 1rem 0 1rem 1rem;
  color: $secondary-color;

  i {
    display: inline-block;
    padding-right: 1rem;
  }
}

.sidebar-menu {
  li {
    margin-top: 0.5rem;
    margin-left: 1rem;
    text-transform: capitalize;

    a {
      display: block;
      padding: 1rem 0 1rem 1rem;
      font-size: 1rem;
      color: $light-color;
      font-weight: 400;

      i {
        padding-right: 1rem;
      }
    }

    a.active,
    a:active {
      color: $primary-color;
      background-color: $light-color;
      border-radius: 1.75rem 0 0 1.75rem;
      text-shadow: 1px 1px $secondary-color;
    }
  }
}
//nav

.nav {
  position: sticky;
  top: 0;
  z-index: 1020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 3px  5px rgba(33, 30, 85, 0.3);

  .nav-title {
    font-size: 1.5rem;
    color: $secondary-color;
    text-transform: capitalize;

    label {
      i {
        padding: 1px;
        margin-right: 0.5rem;
        font-size: 1.5rem;
        background-color: $primary-color;
        border-radius: 50%;
      }
    }
  }

  .nav-search {
    display: none;
    padding: 0.5rem;
    border: 1px solid $secondary-color;
    border-radius: 2.5rem;

    span {
      padding: 0 0.5rem;
      font-size: 1rem;
      font-weight: 400;

      input {
        padding-left: 0.5rem;
        height: 100%;
        font-size: 1rem;
        border: 0;
        outline: 0;
        font-weight: 400;
      }
    }
  }

  .nav-user {
    display: flex;
    align-items: center;

    .nav-user-img {
      margin-right: 1rem;
      width: 1.5rem;
      height: 1.5rem;

      .img {
        border: 1px solid $dark-color;
        border-radius: 50%;
        box-shadow: 1px 1px 3px $dark-color;
      }
    }

    .nav-user-txt {
      .user-name {
        font-size: 1rem;
        text-transform: capitalize;

        a {
          color: $dark-color;
        }

        p {
          margin-top: 3px;
          font-size: 0.5em;
          color: #a0a0a0;
          font-weight: 400;
        }
      }
    }
  }
}

//main
.main {
  z-index: 900;
  padding: 1rem;
  background-color: #fae4fa;
}
//cards
.cards-block {
  width: 100%;

  .cards {
    .card-item {
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      margin-bottom: 1rem;
      width: 100%;
      background-color: $light-color;
      border-radius: 5px;
      box-shadow: 1px 1px 5px $secondary-color, -1px -1px 5px $secondary-color;
      flex-wrap: wrap;

      .card-item-txt {
        color: $secondary-color;
        text-transform: capitalize;

        p {
          padding-top: 1rem;
          color: #a0a0a0;
          font-weight: 400;
        }
      }

      .card-item-icon {
        font-size: 3rem;
        color: $primary-color;
      }
    }
  }
}
//recent-order-block & recent-customer-block & vip-customer-block
.recent-order-block,
.recent-customer-block,
.vip-customer-block {
  width: 100%;
}

.recent-order,
.recent-customer,
.vip-customer {
  padding: 1rem;
  width: 100%;
  background-color: $light-color;
  border-radius: 5px;
  box-shadow: 1px 1px 5px $secondary-color, -1px -1px 5px $secondary-color;
}

.recent-order {
  margin-top: 1rem;

  .recent-order-header {
    padding-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    color: $secondary-color;
    font-weight: 700;
    border-bottom: 1px solid $dark-color;
    text-transform: capitalize;
  }

  .recent-order-list-title-item,
  .recent-order-list-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 1rem;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: row;
    text-transform: capitalize;
    border-bottom: 1px solid $dark-color;

    .order-number,
    .data,
    .customer,
    .money,
    .details,
    .check {
      width: 25%;
    }

    .data,
    .customer,
    .details {
      display: none;
    }

    .check {
      .btn {
        font-size: 1rem;
      }
    }
  }
}

.recent-customer {
  margin-top: 1rem;

  .recent-customer-title {
    padding-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    color: $secondary-color;
    font-weight: 700;
    border-bottom: 1px solid $dark-color;
    text-transform: capitalize;
  }

  .recent-customer-item {
    padding: 0.5rem 0;
    font-size: 1rem;
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid $dark-color;

    a {
      display: flex;
      align-items: center;
      color: $secondary-color;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .recent-customer-item-img {
      width: 40px;
      height: 40px;

      .img {
        width: 100%;
        height: 100%;
        border: 1px solid $dark-color;
        border-radius: 50%;
        box-shadow: 1px 1px 3px $dark-color;
      }
    }

    .recent-customer-item-txt {
      padding-left: 1rem;

      .customer-level {
        margin-top: 3px;
        font-size: 0.5em;
        color: #a0a0a0;
        font-weight: 400;
      }
    }

    .recent-customer-item-icon {
      margin-left: auto;
      font-size: 2rem;
      color: $primary-color;
    }
  }
}

.vip-customer {
  margin-top: 1rem;

  .vip-customer-title {
    padding-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    color: $secondary-color;
    font-weight: 700;
    border-bottom: 1px solid $dark-color;
    text-transform: capitalize;
  }

  .vip-customer-item {
    padding: 0.5rem 0;
    font-size: 1rem;
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid $dark-color;

    a {
      display: flex;
      align-items: center;
      color: $secondary-color;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .vip-customer-item-img {
      width: 40px;
      height: 40px;

      .img {
        width: 100%;
        height: 100%;
        border: 1px solid $dark-color;
        border-radius: 50%;
        box-shadow: 1px 1px 3px $dark-color;
      }
    }

    .vip-customer-item-txt {
      padding-left: 1rem;

      .customer-level {
        margin-top: 3px;
        font-size: 0.5em;
        color: #a0a0a0;
        font-weight: 400;
      }
    }

    .vip-customer-item-icon {
      margin-left: auto;
      font-size: 2rem;
      color: $primary-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    .sidebar-menu {
      a {
        font-size: 1.25rem;
      }
    }
  }

  .nav {
    .nav-title {
      font-size: 2rem;

      label {
        i {
          font-size: 2rem;
        }
      }
    }

    .nav-search {
      display: block;
    }

    .nav-user {
      .nav-user-img {
        width: 2rem;
        height: 2rem;
      }

      .nav-user-txt {
        .user-name {
          font-size: 1.25rem;
        }
      }
    }
  }

  .cards-block {
    .cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .card-item {
        width: 35%;
      }

      .card-item:hover,
      .card-item:focus,
      .card-item:active {
        color: $light-color;
        background: linear-gradient(30deg, $dark-color, $primary-color);
        box-shadow: 1px 1px 5px $light-color, -1px -1px 5px $light-color;

        .card-item-txt {
          color: $light-color;
        }

        .card-item-icon {
          color: $light-color;
        }
      }
    }
  }

  .recent-order {
    .recent-order-list-title-item,
    .recent-order-list-item {
      .order-number,
      .data,
      .customer,
      .money,
      .check {
        width: 19%;
      }

      .data,
      .customer {
        display: list-item;
      }
    }
  }

  .recent-order-list {
    overflow-y: auto;
    height: 12rem;
  }

  .recent-customer-list,
  .vip-customer-list {
    overflow-y: auto;
    height: 14rem;
  }

  /* 整個捲軸 */
  .recent-order-list::-webkit-scrollbar,
  .recent-customer-list::-webkit-scrollbar,
  .vip-customer-list::-webkit-scrollbar { width: 0; }

  /* 捲軸的軌道 */
  .recent-order-list::-webkit-scrollbar-track,
  .recent-customer-list::-webkit-scrollbar-track,
  .vip-customer-list::-webkit-scrollbar-track { background: $light-color; }

  /* 捲軸尚未滑到的軌道 */
  .recent-order-list::-webkit-scrollbar-track-piece,
  .recent-customer-list::-webkit-scrollbar-track-piece,
  .vip-customer-list::-webkit-scrollbar-track-piece { background: $light-color; }

  /* 滑動的區塊 */
  .recent-order-list::-webkit-scrollbar-thumb,
  .recent-customer-list::-webkit-scrollbar-thumb,
  .vip-customer-list::-webkit-scrollbar-thumb { background: $primary-color; }

  /* 滑鼠移到滑動的區塊上 */
  .recent-order-list::-webkit-scrollbar-thumb:hover,
  .recent-customer-list::-webkit-scrollbar-thumb:hover,
  .vip-customer-list::-webkit-scrollbar-thumb:hover { background: $secondary-color; }
}

@media screen and (min-width: 992px) {
  .nav-toggle:checked {
    + .sidebar {
      width: 7%;

      .sidebar-brand {
        display: block;

        span {
          font-size: 0;
        }
      }

      .sidebar-menu {
        margin-top: 0;
        height: auto;

        li {
          a {
            padding-left: 0;
            text-align: center;

            span {
              font-size: 0;
            }
          }
        }

        i {
          padding-right: 1rem;
        }
      }
    }

    ~ .main,
    ~ .nav {
      margin-left: 7%;
    }

    ~ .main {
      overflow: auto;
    }
  }

  //sidebar
  .sidebar {
    position: fixed;
    display: block;
    width: 20%;
    height: 100vh;
    transition: width 0.3s, font-size 0s 0.3s;

    h1 {
      font-size: 2rem;
    }

    .sidebar-menu {
      i {
        transition: font-size 0s 0.3s;
      }
    }
  }

  .nav,
  .main {
    margin-left: 20%;
    transition: margin 0.3s;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    padding-top: 2rem;
    height: calc(100% - 72px);
  }

  .cards-block {
    .cards {
      .card-item {
        padding: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  .recent-customer-block,
  .vip-customer-block {
    width: 45%;
  }

  .recent-order,
  .recent-customer,
  .vip-customer {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .recent-order-list {
    height: 21rem;
  }

  .recent-customer-list,
  .vip-customer-list {
    height: 24rem;
  }
}

@media screen and (min-width: 1200px) {
  .nav-toggle:checked {
    + .sidebar {
      h1 {
        i {
          padding-left: 1.5rem;
        }
      }
    }
  }

  //cards
  .cards-block {
    .cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      .card-item {
        margin-bottom: 0;
        width: 20%;
        min-width: 200px;
        max-width: 250px;
      }
    }
  }
  //recent

  .recent-order,
  .recent-customer,
  .vip-customer {
    padding: 2rem;
    margin-top: 2rem;
  }

  .recent-order {
    .recent-order-list-title-item,
    .recent-order-list-item {
      .order-number,
      .data,
      .customer,
      .money {
        width: 15%;
      }

      .details {
        display: list-item;
        overflow: hidden;
        width: 20%;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .check {
        width: 10%;
        text-align: center;
      }
    }
  }

  .recent-order-list {
    height: 15rem;
  }

  .recent-customer-list,
  .vip-customer-list {
    height: 18rem;
  }
}

@media screen and (min-width: 1400px) {
  .wrap {
    position: relative;
    overflow-y: auto;
    margin: 0 auto;
    max-width: 1320px;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 841.4px;
  }

  .main {
    background-color: #fae4fa;
  }

  .cards {
    justify-content: space-around;
  }

  .recent-order,
  .recent-customer,
  .vip-customer {
    margin-top: 1rem;
  }

  .recent-order-list {
    height: 9rem;
  }

  .recent-customer-list,
  .vip-customer-list {
    height: 9rem;
  }
}
