$color-primary: #f19483;
$color-secondary: #333;

//staggered

.staggered-title {
  position: relative;
  color: $color-secondary;
}

.staggered-title::before,
.staggered-title::after {
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  content: '';
  border: 1px solid $color-secondary;
}

.staggered-title::before {
  top: 15%;
  left: 30%;
  border-bottom: 0;
  border-right: 0;
}

.staggered-title::after {
  right: 30%;
  bottom: 15%;
  border-top: 0;
  border-left: 0;
}

.staggered-txt {
  background: linear-gradient(30deg, #fff, $color-primary);

  h3 { letter-spacing: 0.5rem; }

  ul {
    font-size: 0;

    li {
      display: inline-block;
      color: $color-secondary;
      letter-spacing: 0.1rem;
    }
  }
}

//experience
.experience-table {
  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    border: 1px solid $color-secondary;
  }

  td {
    display: block;
    padding-left: 6rem;
    text-align: left;
    text-indent: -6rem;
  }

  td + td {
    border-top: 1px solid $color-secondary;
  }

  td::before {
    display: inline-block;
    padding-right: 1rem;
    width: 6rem;
    text-align: right;
    color: $color-primary;
    content: attr(data-thtitle) ' : ';
  }

  td:first-child {
    color: $color-primary;
    background-color: $color-secondary;
  }

  td:first-child::before {
    content: 'No.';
  }
}

@media screen and (min-width: 768px) {
  //staggered
  .staggered {
    .col-12:nth-child(odd) { margin-top: -10%; }
  }

  .staggered-title::before { left: 35%; }

  .staggered-title::after { right: 35%; }

  //experience
  .experience-table {
    td {
      width: 696px;
    }
  }
}

@media screen and (min-width: 960px) {
  //experience
  //experience
  .experience-table {
    border: 1px solid $color-secondary;

    thead {
      display: table-header-group;
    }

    th {
      font-size: 1.25rem;
      color: $color-primary;
      background-color: $color-secondary;
      border: 1px solid $color-secondary;
    }

    tr {
      display: table-row;
      font-size: 1rem;
    }

    td {
      display: table-cell;
      padding: 0.5rem;
      margin: 0.2rem;
      width: auto;
      text-align: center;
      text-indent: 0;
      border: 1px solid $color-secondary;

      + td {
        border-top: transparent;
      }
    }

    td::before {
      display: none;
    }

    td:first-child {
      color: $color-secondary;
      background-color: #fff;
    }

    td:first-child::before {
      display: inline;
      padding-right: 0;
      color: $color-secondary;
      background-color: #fff;
    }
  }
}

@media screen and (min-width: 1200px) {
  .staggered-title::before { left: 35%; }

  .staggered-title::after { right: 35%; }

  //experience
  .experience-table {
    th {
      font-size: 1.5rem;
    }

    tr {
      font-size: 1.25rem;
    }

    td {
      padding: 0.5rem;
    }
  }
}
