@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Noto+Sans+TC:wght@100;400;700&display=swap');
//layout

$color-primary: #f19483;
$color-secondary: #333;

body {
  font-family: 'Merriweather', serif, 'Noto Sans TC', sans-serif;
  background-color: #fffaff;
}

.btn-primary {
  background-color: $color-secondary;
  border-color: $color-primary;
}

.btn-primary:hover {
  background-color: $color-primary;
  border-color: $color-primary;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: $color-primary;
  border-color: $color-primary;
  box-shadow: 0 0 0 0.25rem rgba(188, 143, 143, 0.5);
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(188, 143, 143, 0.5);
}

.btn-secondary {
  background-color: $color-secondary;
  border-color: $color-primary;
}

.title-decoration {
  position: relative;
  font-weight: 700;
  padding: 1rem 0;
  margin-top: 1rem;
  text-align: center;
}

.title-decoration::before,
.title-decoration::after {
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  content: '';
  border: 3px solid $color-secondary;
}

.title-decoration::before {
  top: 15%;
  left: 30%;
  border-bottom: 0;
  border-right: 0;
}

.title-decoration::after {
  right: 30%;
  bottom: 15%;
  border-top: 0;
  border-left: 0;
}

//nav
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1020;
  background: $color-secondary;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.5);

  .navbar-brand {
    color: $color-primary;
    transition: 0.3s;
  }

  .navbar-toggler:focus {
    padding-bottom: 1px;
  }

  .navbar-nav {
    .nav-link {
      color: $color-primary;
      transition: 0.3s;
    }

    .nav-link:hover {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link.active {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

.btn-outline-success {
  color: $color-primary;
  border-color: $color-primary;
}

.btn-outline-success:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: $color-primary;
  border-color: rgba(255, 255, 255, 0.75);
}

.modal-content {
  color: $color-primary;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid #fff;
  box-shadow: 1px 1px 15px #fff;
  backdrop-filter: blur(5px);

  .modal-title {
    margin-left: 38%;
  }

  .modal-header {
    .btn-close {
      background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    }
  }
}

//carousel-indicators
.carousel-indicators {
  .active {
    background-color: $color-primary;
  }
}

.carousel-item {
  img {
    height: 26vw;
  }

  .carousel-caption {
    color: $color-primary;
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.1));
    border-radius: 50% 50% 0 0;
    text-shadow: 1px 1px $color-secondary;

    h5 {
      font-weight: 700;
      font-size: 2rem;
    }

    p {
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
}

//introduction
.introduction {
  background-color: rgba(85, 66, 54, 0.5);

  .introduction-img {
    .img {
      margin: 1rem 0;
      border: 3px solid rgba(255, 255, 255, 0.75);
    }
  }

  .introduction-txt {
    ul {
      display: flex;
      padding-left: 0;
      flex-direction: column;
    }

    li {
      position: relative;
      padding-bottom: 0.5rem;
      padding-left: 6rem;
      font-size: 1rem;
      text-align: left;
      text-indent: -6rem;
      color: $color-secondary;
      text-shadow: 1px 1px rgba(99, 83, 83, 0.5);
      transition: 0.5s 0.5s;
      font-weight: 400;
      word-break: break-all;

      + li {
        margin-top: 0.5rem;
      }
    }

    li:first-child {
      margin-top: 1rem;
    }

    li:last-child {
      margin-bottom: 1rem;
    }

    li::before {
      display: inline-block;
      padding-right: 0.5rem;
      width: 6rem;
      text-align: right;
      color: $color-secondary;
      content: attr(data-introduction-txt-title) ' : ';
      text-shadow: 1px 1px rgba(99, 83, 83, 0.5);
    }

    li::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-secondary;
      content: '';
    }

    li:last-child::after {
      display: none;
    }
  }
}

//breadcrumb
.path {
  position: relative;

  .breadcrumb {
    background-color: transparent;
  }

  .breadcrumb-item {
    a {
      text-decoration: none;
      color: $color-secondary;
      transition: 0.3s;
    }

    a:hover {
      color: $color-primary;
      text-shadow: 1px 1px #000;
    }
  }

  .breadcrumb-item + .breadcrumb-item::before {
    color: $color-secondary;
  }

  .breadcrumb-item.active {
    color: $color-primary;
    text-shadow: 1px 1px #000;
  }

  .breadcrumb-item.active::before {
    text-shadow: none;
  }
}

//staggered
.staggered {
  background-color: rgba(134, 71, 63, 0.5);
}

.staggered-txt {

  h3 { letter-spacing: 0.5rem; }

  ul {
    font-size: 0;

    li {
      display: inline-block;
      color: $color-secondary;
      letter-spacing: 0.1rem;
    }
  }
}

//experience
.experience-table {
  caption {
    position: relative;
    text-align: center;
    font-weight: 700;
    caption-side: top;
    color: $color-secondary;
  }

  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    border: 1px solid $color-secondary;
  }

  td {
    display: block;
    padding-left: 6rem;
    text-align: left;
    text-indent: -6rem;
    background-color: #fff;

    + td {
      border-top: 1px solid $color-secondary;
    }
  }

  td::before {
    display: inline-block;
    padding-right: 1rem;
    width: 6rem;
    text-align: right;
    color: $color-primary;
    content: attr(data-thtitle) ' : ';
  }

  td:first-child {
    color: $color-primary;
    background-color: $color-secondary;
  }

  td:first-child::before {
    content: 'No.';
  }
}

//pagination
.page-link {
  color: $color-primary;
  background-color: $color-secondary;
}

.page-item.active {
  .page-link {
    color: $color-secondary;
    background-color: $color-primary;
    border-color: rgb(240, 184, 174);
  }
}

.page-link:hover {
  color: rgb(240, 184, 174);
  background-color: #666;
}

//footer
.copyright {
  padding: 1rem 0 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #f19483;
  background: linear-gradient(0deg, $color-secondary 0 25%, rgba(0, 0, 0, 0.3), transparent);
  background-color: #fffafa;
  text-shadow: 1px 1px 5px #994639;
}

@media screen and (min-width: 768px) {
  //layout
  .title-decoration::before { left: 35%; }

  .title-decoration::after { right: 35%; }
  //nav
  .navbar {
    .modal-title {
      margin-left: 42%;
    }
  }

  //carousel
  .carousel-item {
    img {
      height: 24vw;
    }
  }

  //introduction
  .introduction {
    .introduction-img {
      top: 0;
      bottom: 0;

      .img {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }

    .introduction-txt {
      li {
        padding-left: 9rem;
        font-size: 1.5rem;
        text-align: left;
        text-indent: -9rem;
        transition: 0.15s;
      }

      li::before {
        width: 9rem;
      }

      li:hover,
      li:hover::before {
        text-shadow: 1px 1px $color-secondary;
      }

      li:hover::after {
        height: 2px;
        background-color: #000;
      }
    }
  }

  //experience
  .experience-table {
    td {
      width: 696px;
    }
  }

  //staggered
  .staggered-txt {
    margin-top: -10%;
    background: linear-gradient(30deg, #fff, $color-primary);
    border: 3px solid #fff;
    border-radius: 10px;
  }
}

@media screen and (min-width: 960px) {
  //nav
  .navbar {
    .modal-title {
      margin-left: 43%;
    }
  }

  //carousel
  .carousel-item {
    img {
      height: 22vw;
    }
  }

  //introduction
  .introduction {
    .container {
      background: linear-gradient(30deg, rgba(0, 0, 0, 0.1), transparent);
      border: 5px double $color-secondary;
      backdrop-filter: blur(5px);
    }
  }

  //experience
  .experience-table {
    border: 1px solid $color-secondary;

    thead {
      display: table-header-group;

      th {
        font-size: 1.25rem;
        color: $color-primary;
        background-color: $color-secondary;
        border: 1px solid $color-secondary;
      }
    }

    tr {
      display: table-row;
      font-size: 1rem;
    }

    td {
      display: table-cell;
      padding: 0.5rem;
      margin: 0.2rem;
      width: auto;
      text-align: center;
      text-indent: 0;
      border: 1px solid $color-secondary;

      + td {
        border-top: transparent;
      }
    }

    td::before {
      display: none;
    }

    td:first-child {
      color: $color-secondary;
      background-color: #fff;
    }

    td:first-child::before {
      display: inline;
      padding-right: 0;
      color: $color-secondary;
      background-color: #fff;
    }
  }
}

@media screen and (min-width: 1200px) {
  .title-decoration::before { left: 35%; }

  .title-decoration::after { right: 35%; }

  //carousel
  .carousel-item {
    img {
      height: 20vw;
    }
  }

  //experience
  .experience-table {
    th {
      font-size: 1.5rem;
    }

    tr {
      font-size: 1.25rem;
    }

    td {
      padding: 0.5rem;
    }
  }
}
